body {
    font-family: 'Montserrat', sans-serif;
}

header{
    height: 100vh;
    background: url(1.jpg) fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-center{
    height: 100vh;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 75px;
}

.banner-center h1{
    font-size: 120px;
}

.banner-underline{
    width: 300px;
    border: 3px solid #98C1D9;
    margin: 0px auto 40px auto;
}

.btn-holder{
    display: flex;
    justify-content: center;
}

.white-btn,
.navy-btn{
    color: whitesmoke;
    font-size: 30px;
    margin: 0 30px;
    text-decoration: none!important;
    border-radius: 20px;
    padding: 10px 30px;
}

.navy-btn{
    border: 3px solid #353531;
    background-color: #2d3142;
}

.white-btn {
    border: 3px solid whitesmoke;
}

.white-btn:hover,
.white-btn:focus{
    color: #98c1d9;
    background-color: whitesmoke;
}

.navy-btn:hover,
.navy-btn:focus{
    color: #98c1d9;
}