/* Box */
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* End-of-Box */


/*nav*/
ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

ul li{
    flex: 1 0 auto;
    text-align: center;
    list-style-type: none;
    background-color: #CED0CE; 
}

li a{
    text-decoration: none!important;
    display: block;
    padding: 5px;
    color: #2d3142;
}

li a:hover{
    color: whitesmoke;
    background-color: #98c1d9;
    color: #2d3142;
}
/*end-of-nav*/


body {
    font-family: 'Montserrat', sans-serif;
}


/* Header-Section */
header{
    height: 100vh;
    background: url(1.jpg) fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-center{
    height: 100vh;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 75px;
}

.banner-center h1{
    font-size: 120px;
}

.banner-underline{
    width: 300px;
    border: 3px solid #98C1D9;
    margin: 0px auto 40px auto;
}

.btn-holder{
    display: flex;
    justify-content: center;
}

.white-btn,
.navy-btn{
    color: whitesmoke;
    font-size: 30px;
    margin: 0 30px;
    text-decoration: none!important;
    border-radius: 20px;
    padding: 10px 30px;
}

.navy-btn{
    border: 3px solid #353531;
    background-color: #2d3142;
}

.white-btn {
    border: 3px solid whitesmoke;
}

.white-btn:hover,
.white-btn:focus{
    color: #98c1d9;
    background-color: whitesmoke;
}

.navy-btn:hover,
.navy-btn:focus{
    color: #98c1d9;
}
/* End-of-Header-Section */


/* Qualitites Section */
/* Title Section */
.title{
    margin: 20px 0 40px 0; 
}

.title-underline{
    width: 150px;
    border: 3px solid #98C1D9;
    margin: 0px auto 10px auto;
}
/* End-of-title */

#qualities {
    background-color: #CED0CE;
    padding: 40px;
}

#qualities .fa{
        font-size: 100px;
        color: #98c1d9;
        margin-bottom: 10px;
}

#qualities h2 {
    margin-bottom: 20px;
}
/* End-of-Qualities-Section */


/* Projects-Section */
#projects {
    padding: 20px 0 0 0;
    background-color: #2D3142;
    color: whitesmoke;
}

.left{
    padding-left: 0;
}

.right{
    padding-right: 0;
}
/* End-of-Projects-Section */

/*Contact-Section*/
#contact{
    padding: 40px;
    background-color: whitesmoke;
}

#contact .form-control{
    border-radius: 0;
    font-size: 20px;
}

#contact button{
    background-color: #353531;
    font-size: 24px;
    color: #98C1D9;
    margin-bottom: 20px;
}

#contact button:hover {
    background-color: #CED0CE;
}   
/*End-of-Contact-Section*/

/* Footer-Section */
#footer{
    padding: 40px;
    color: whitesmoke;
    background-color: #353531;
}

#footer h2 {
    margin-bottom: 20px;
}

#footer p{
    font-size: 20px;
}

#footer .websites a{
    text-decoration: none!important;
    color: #98c1d9;
    font-size: 20px;
}

#footer .websites a:hover {
    color: #CED0CE;
}

#footer hr {
    background-color: whitesmoke;
}

.lower-row{
    margin-top: 40px;
}

#footer .footer-icons{
    font-size: 20px;
}

#footer .footer-icons a{
    color: #909090;
    text-decoration: none;
}

#footer .footer-icons a:hover{
    color: whitesmoke;
}

#footer .copyrights h3{
    color: #CED0CE;
}
/* End-of-Footer-Section */

/* Media */
@media screen and (max-width:800px){
    .banner-center h1{
        font-size: 60px;
    }
}

@media screen and (max-width:576px){
    #projects .row {
        display: flex;
        flex-direction: column;
    }
    .item-1{
        order: 1;
    }
    .item-2{
        order: 2;
    }
    .item-3{
        order: 4;
    }
    .item-4{
        order: 3;
    }
    .item-5{
        order: 5;
    }
    .item-6{
        order: 6;
    }
 }
/* End-of-Media */