/**font-family: 'Montserrat', sans-serif;*/

/*#F2D0A4- Deep Champagne
#66635B - Dim Gray
#98C1D9 - Pale Cerulean
#6F5E53 - Umber
whitesmoke*/

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 100vh;
    background: url(2.jpg) fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-center {
    height: 100vh;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-underline {
    width: 300px;
    border: 3px solid #F15025;
    margin: 0px auto 20px;
}

.banner-center a{
    font-size: 30px;
    width: 300px;
    margin: 0px auto;
    display: inline-block;
    border: 3px solid whitesmoke;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 20px;
}

.banner-center a:hover,
.banner a:focus {
    color: #F15025;
    background-color: whitesmoke;
}