/**font-family: 'Montserrat', sans-serif;*/

/*#F2D0A4- Deep Champagne
#66635B - Dim Gray
#98C1D9 - Pale Cerulean
#6F5E53 - Umber
whitesmoke*/

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 100vh;
    background: url(1.jpg) fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-center {
    height: 100vh;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-underline {
    width: 300px;
    border: 3px solid #F15025;
    margin: 0px auto 20px auto;
}

.banner-center a{
    font-size: 30px;
    width: 300px;
    margin: 0px auto;
    display: inline-block;
    border: 3px solid whitesmoke;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 20px;
}

.banner-center a:hover,
.banner a:focus {
    color: #F15025;
    background-color: whitesmoke;
}

/*end-of-banner*/

/*title*/
.title{
    margin: 20px 0;
}

.title-underline {
    width: 150px;
    border: 3px solid #F15025;
    margin: 0px auto 10px auto;
}
/*end-of-title*/


/*skill-section*/
#skills{
    padding: 40px;
    color: #2d3142;
    margin-bottom: 10px;
}

#skills .fa{
    font-size: 100px;
    margin-bottom: 10px;
}

#skills a{
    margin-bottom: 20px;
    background-color: #F15025;
    color: whitesmoke;
    font-size: 20px;
}

#skills a:hover {
    background-color: #ced0ce;
}
/*end-of-skill-section*/


/*about-section*/
#about{
    background-color: #2d3142;
}

#about .pic{
    height: 600px;
    background: url(2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 600px solid transparent;
    border-left: 100px solid #2d3142;
}

#about .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*end-of-about-section*/